@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PO Box 307<br />
    Parkhill, ON N0M 2K0<br />
    <abbr title="Phone">P:</abbr>
    226.927.6694
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:achmann@outlook.com">achmann@outlook.com</a><br />
</address>