@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is just a test site for the Dapper User < int > based identity library.</p>
    <p> It also has a Google external login, integrated into the dapper idenity usage.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p></p>
    </div>
</div>